* {
  font-family: 'Roboto', sans-serif;
  font-weight: Bolder;
  font-size: 14px;
  color: rgb(120, 120, 120);
}
a {
  text-decoration: none;
}

.upper {
  position: absolute;
  top: 25px;
  right: 0;
}

.menu {
  float: left;
  text-align: center;
  margin: 0 10px;
}

.menu a {
  font-weight: Normal;
}

.menu a:hover {
  text-decoration: underline;
}

#signin {
  font-weight: Bolder;
  letter-spacing: 0.05em;
  font-size: 14px;
  color: white;
  margin-right: 20px;
  background: rgb(66, 133, 244);
  padding: 5px 10px;
  border-radius: 2px;
}

#signin:hover {
  text-decoration: none;
}

.search {
  box-sizing: border-box;
  width: 50%;
  display: block;
  margin: 200px auto 0;
  text-align: center;
}

#logo {
  display: block;
  margin: 0 auto;
}

.search-button:hover{
  box-sizing: border-box;
  color: rgb(50, 50, 50);
  border: 1px solid lightgrey;
}

.search-button {
  box-sizing: border-box;
  border-radius: 2px;
  margin: 0 5px;
  padding: 7px; 
  background-color: rgb(242, 242, 242);
  display: inline-block;
  text-align: center;
  width: 130px;
}

input:hover {
  border: 1px solid rgba(5, 5, 5, .2);
  border-bottom: 1px solid rgba(20, 20, 20, .4);
}

input:focus{
  outline: none;
}

input {
  display: block;
  padding: 15px;
  margin: 30px auto;
  width: 560px;
  height: 10px;
  border: 1px solid rgba(5, 5, 5, .15);
  border-bottom: 1px solid rgba(20, 20, 20, .3);
}

.lower {
  box-sizing: border-box;
  background-color: rgb(242, 242, 242);
  position: absolute;
  bottom: 0;
  width: 99%
}

.lower a:hover {
  text-decoration: underline;
}

.lower a{
  font-weight: Normal;
  font-size: 12.5px;
  color: rgb(80, 80, 80);
}

.lower-r, .lower-l {
  text-align: center;
  margin: 0 10px;
  padding: 15px 7px;
}

.lower-r {
  float: right;
}

.lower-l {
  float: left;
}